.popup {
  position: relative;
}

.menu {
  border-radius: torem(18);
  border: torem(1) solid var(--accent-redesigned);
  overflow: hidden;
}

.trigger {
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.bottomL {
  top: 100%;
  right: 0;
}

.bottomR {
  top: 100%;
  left: 0;
}

.topR {
  bottom: 100%;
  left: 0;
}

.topL {
  right: 0;
  bottom: 100%;
}

.disabled {
  opacity: 0.7;
}

.active {
  background: var(--light-bg-redesigned) !important;
}