@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';

html {
  font-size: 10px;
}

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
