// @use 'sass:math';
@import './reset.scss';

// @import './functions/functions.scss';

// @import './variables/global.scss';
@import './fonts.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';
@import './themes/orange.scss';

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.app_redisigned {
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background-color: var(--bg-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: torem(20); /* закругления плашки */
  border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
