@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';
@import './themes/orange.scss';

html {
  font-size: 10px;
}

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}
