@function torem($num1, $num2: 16) {
  $rez: math.div($num1, $num2) + rem;

  @return $rez;
}

@function toem($num1, $num2: 16) {
  $rez: math.div($num1, $num2) + em;

  @return $rez;
}

:root {
  /* stylelint-disable-next-line value-keyword-case */
  --font-family-main: Consolas, "Times New Roman", serif;
  --font-family-text-redesigned: "Roboto", sans-serif;
  --font-family-title-redesigned: "Nunito Sans", sans-serif;

  // S
  --font-size-s: 0.875rem;
  --font-line-s: 1.25rem;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // M
  --font-size-m: 1rem;
  --font-line-m: 1.5rem;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // L
  --font-size-l: 1.5rem;
  --font-line-l: 2rem;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // XL
  --font-size-xl: 2rem;
  --font-line-xl: 2.5rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // redesigned

  // s
  --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

  // m
  --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

  // l
  --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-title-redesigned);

  // xl
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title-redesigned);

  // Размеры
  --navbar-height: 3.125rem;
  --sidebar-width: 20%;
  --collapsed-sidebar-width: 10%;

  // --size-m: torem(24);
  --size-m: 1.5rem;
  --size-l: 2rem;
  --size-xl: 2.5rem;

  // z-индексы
  --modal-index: 10;

  // Colors
  --overlay-color: rgb(0 0 0 / 0.5);
  --primary-error-color: #df0808;
  --secondary-error-color: #7d0404;
}
