.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--primary-error-color);
  }

  .text {
    color: var(--secondary-error-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.xl {
  .title {
    font-size: 3.5rem;
  }

  .text {
    font: var(--font-xl);
  }
}

.l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.s {
  .title {
    font: var(--font-m);
  }

  .text {
    font: 1.4rem;
  }
}
