.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--primary-error-color);
  }

  .text {
    color: var(--secondary-error-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.xl {
  font-size: 3rem;
}

.l {
  font-size: 2rem;
}

.s {
  font-size: 1.6rem;
}

.xs {
  font-size: 1.4rem;
}
