.articleDetails {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.avatar {
  align-self: center;
}

.articleInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 8px;
  fill: var(--primary-color);
}

.block {
  margin-bottom: 1.6rem;
}
