.drawer {
  position: fixed;
  display: flex;
  align-items: flex-end;
  inset: 0;
  transition: all 0.5s ease-in-out;
}

.content {
  position: fixed;
  left: 2vw;
  width: 96vw;
  height: calc(100vh + 100px);
  padding: torem(20);
  border-top-left-radius: torem(12);
  border-top-right-radius: torem(12);
  touch-action: none;
  transition: all 0.5s ease-in-out;
}

.drawerRedesigned {
  .content {
    background: var(--light-bg-redesigned);
  }
}

.drawerDeprecated {
  .content {
    background: var(--bg-color);
  }
}

.entering,
.entered {
  opacity: 1;

  .content {
    transform: translateY(0);
  }
}

.exiting,
.exited {
  opacity: 0;

  .content {
    transform: translateY(100%);
  }
}
