.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  color: var(--primary-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.content {
  max-width: 70%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border-radius: 1.2rem;
  transform: scale(0.5);
  transition: all 0.3s ease-in-out;
}

.entering,
.entered {
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.exiting,
.exited {
  opacity: 0;

  .content {
    transform: scale(0.5);
  }
}
