.icon {
  fill: var(--inverted-primary-color);
}

.link {
  margin-left: torem(5);
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.collappsed .link {
  opacity: 0;
}

.itemRedesigned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 torem(16);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.itemRedesigned:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.15%, rgba(94, 211, 243, 0.3)), color-stop(99.97%, rgba(94, 211, 243, 0)));
  background: linear-gradient(90deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);
}

.collapsedRedesigned {
  padding: 0 torem(8);
}
.collapsedRedesigned .link {
  opacity: 0;
  width: 0;
  margin: 0;
}

.active {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.15%, rgba(94, 211, 243, 0.3)), color-stop(99.97%, rgba(94, 211, 243, 0)));
  background: linear-gradient(90deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  width: torem(2);
  left: 0;
  background: var(--accent-redesigned);
  height: 100%;
}