.button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 1rem 1.5rem;
  border: 1px solid var(--primary-color);
  background: none;
}
