.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: torem(5);
  background-color: var(--inverted-bg-color);
  transition: all 0.3s ease-in-out;
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: torem(-32);
  bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: torem(10);
}

.color_inverted {
  color: var(--inverted-primary-color);
}

.collappsed {
  width: var(--collapsed-sidebar-width);

  .switchers {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .link {
    opacity: 0;
  }
}
