.icon {
  fill: var(--inverted-primary-color);
}

.link {
  margin-left: torem(5);
  opacity: 1;
  text-decoration: none;
  transition: 0.2s opacity ease-in-out;
}

.collappsed {
  .link {
    opacity: 0;
  }
}
