@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  /* stylelint-disable-next-line value-keyword-case */
  --font-family-main: Consolas, 'Times New Roman', serif;
  --font-size-s: 1.4rem;
  --font-line-s: 2rem;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 1.6rem;
  --font-line-m: 2.4rem;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 2.4rem;
  --font-line-l: 3.2rem;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 3.2rem;
  --font-line-xl: 4rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --navbar-height: 5rem;
  --sidebar-width: 20%;
  --collapsed-sidebar-width: 10%;
  --size-m: 2.4rem;
  --size-l: 3.2rem;
  --size-xl: 4rem;
  --modal-index: 10;
  --overlay-color: rgb(0 0 0 / 0.5);
  --primary-error-color: #df0808;
  --secondary-error-color: #7d0404;
}

.app_light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #040453;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --btn-theme-color: #ffff04;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 0.2);
  --code-bg: #fff;
  --card-bg: #d5d5d7;
  --listbox-bg: #d5d5d7;
}

.app_dark {
  --bg-color: #040453;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --btn-theme-color: #040453;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
  --code-bg: #1212a1;
  --card-bg: #0d0d6b;
  --listbox-bg: #0d0d6b;
}

.app_orange {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
  --btn-theme-color: #1f1fd0;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 0.2);
  --code-bg: #fff;
  --card-bg: #d5d5d7;
  --listbox-bg: #d5d5d7;
}

html {
  font-size: 10px;
}

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.content-page {
  display: box;
  display: flexbox;
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
