.input_wapper {
  display: flex;
  gap: 1rem;
  color: var(--primary-color);
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);

  &:focus {
    border: 1px solid var(--inverted-primary-color);
  }

  &::placeholder {
    font: var(--font-m);
    color: var(--primary-color);
  }
}

.label {
  flex-shrink: 0;
}

.readonly {
  opacity: 0.6;
}
