.button {
  padding: torem(10) torem(15);
  color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button:hover {
  opacity: 0.8;
  stroke-opacity: 0.8;
  fill-opacity: 0.8;
}

.clear,
.clear_inverted {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.clear_inverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
}

.outline_red {
  border: 1px solid var(--primary-error-color);
  color: var(--secondary-error-color);
  background: none;
}

.background {
  background: var(--bg-color);
  border: none;
}

.background_inverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.square.size_m {
  width: var(--size-m);
  height: var(--size-m);
}

.square.size_l {
  width: var(--size-l);
  height: var(--size-l);
}

.square.size_xl {
  width: var(--size-xl);
  height: var(--size-xl);
}

.fullWidth {
  width: 100%;
}