.card {
  padding: torem(15);
  border-radius: torem(12);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.normal {
  background: var(--card-bg);
}

.outlined {
  border: 1px solid var(--primary-color);
}

.max {
  width: 100%;
}