.avatar {
  align-self: center;
}

.icon {
  margin-right: torem(8);
  fill: var(--primary-color);
}

.block {
  margin-bottom: torem(16);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 732 / 420;
}
