.navBarDeprecated {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: torem(20);
  background: var(--inverted-bg-color);
}

.signinBtn {
  position: relative;
  z-index: 15;
}

.logoBlock {
  margin-right: auto;
}
