.input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 48px;
  padding: torem(8) torem(16);
  border: 2px solid var(--icon-redesigned);
  width: 100%;
  gap: torem(10);
}

.addonLeft,
.addonRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addonLeft:focus,
.addonRight:focus {
  color: var(--accent-redesigned);
}

.withAddonLeft {
  padding-left: torem(8);
}

.withAddonRight {
  padding-right: torem(8);
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-redesigned);
  border-radius: torem(4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input::-webkit-input-placeholder {
  font: var(--font-m-redesigned);
  color: var(--hint-redesigned);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input::-moz-placeholder {
  font: var(--font-m-redesigned);
  color: var(--hint-redesigned);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input:-ms-input-placeholder {
  font: var(--font-m-redesigned);
  color: var(--hint-redesigned);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input::-ms-input-placeholder {
  font: var(--font-m-redesigned);
  color: var(--hint-redesigned);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input::placeholder {
  font: var(--font-m-redesigned);
  color: var(--hint-redesigned);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input:focus .addonLeft svg,
.input:focus .addonRight svg {
  color: var(--accent-redesigned);
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}

.label {
  color: var(--text-redesigned);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.readonly {
  opacity: 0.6;
}