.icon {
  color: var(--icon-redesigned);
  transition: all 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-redesigned);
    }
  }
}

// .inverted {
//   fill: var(--inverted-primary-color);
//   color: var(--inverted-primary-color);
// }
