.app_orange {
  --bg-color: #f75f18;
  --inverted-bg-color: #040453;
  --primary-color: #040506;
  --secondary-color: #1a253b;
  --btn-theme-color: #ff04bc;
  --inverted-primary-color: #f73a06;
  --inverted-secondary-color: #cf5007;
}
