.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: max-content;
  background: var(--dark-bg-redesigned);
  z-index: 10000;
  border-radius: torem(8);
  border: 1px solid var(--dark-bg-redesigned);
}

.item {
  padding: torem(10) torem(25);
  width: 100%;
  border: none;
  background: transparent;
  outline-color: transparent;
  color: var(--text-redesigned);
  cursor: pointer;
}

// .active {
//   background: var(--accent-color);
// }
