.page {
  flex-grow: 1;
  padding: torem(20) torem(20) torem(20) torem(40);
  overflow-y: auto;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
}

.page_redesigned {
  overflow-y: auto;
}
