.articleDetailsPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  // height: calc(100vh - var(--navbar-height));
}

.btn {
  align-self: flex-start;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;

  // overflow-y: hidden;
  // overflow-x: auto;
}
