.articleDetailsPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  align-self: flex-start;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;

  // overflow: scroll;
}
