.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 2rem;
  background: var(--inverted-bg-color);
}

.signinBtn {
  position: relative;
  z-index: 15;
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.logo {
  font: var(--font-xl);
}

.btnBlock {
  display: flex;
  gap: 2rem;
}
