.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: max-content;
  background: var(--card-bg);
  z-index: 10000;
  border-radius: torem(8);
  border: 1px solid var(--primary-color);
}

.item {
  padding: torem(10) torem(25);
  width: 100%;
  border: none;
  background: none;
  outline-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}
