.button {
  padding: torem(6) torem(15);
  color: var(--text-redesigned);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.transparent {
  padding: torem(100) torem(12);
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: torem(8) torem(16);
  border-radius: torem(34);
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
}

.square {
  padding: 0;
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square.m {
  width: var(--size-m);
  height: var(--size-m);
}

.square.l {
  width: var(--size-l);
  height: var(--size-l);
}

.square._xl {
  width: var(--size-xl);
  height: var(--size-xl);
}

.fullWidth {
  width: 100%;
}
