.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: torem(10);
  padding: torem(10);
  border: torem(2) solid var(--inverted-bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  gap: torem(10);
}

.avatar {
  display: flex;
  justify-content: center;
}

.ref {
  overflow: hidden;
}
