.card {
  padding: 1.5rem;
  border-radius: 1.2rem;
  transition: all 0.2s;
}

.normal {
  background: var(--card-bg);
}

.outlined {
  border: 1px solid var(--primary-color);
}

.max {
  width: 100%;
}
