.entering,
.entered {
  opacity: 1;
}
.entering .content,
.entered .content {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.exiting,
.exited {
  opacity: 0;
}
.exiting .content,
.exited .content {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}